<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut Icon" type="image/x-icon" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="96x96" href="">

    <title></title>

    <!-- core -->
    <script src="../static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <link href="../static/core/bootstrap-5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/core/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>

    <!-- plugins -->
    <link href="../static/plugins/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">

    <!-- main -->
    <link href="../static/common/css/main.css" rel="stylesheet">
    <script src="../static/common/js/main.js"></script>
</head>
<body>
    <div id="wrap">
        <main>
            <section class="pos-r">
                <div class="videoBox" style="filter: brightness(0.5);">
                    <video src="../static/common/media/v2.mp4" autoplay muted loop></video>
                </div>
                <div class="container py-4">
                    <div class="">
                        <div class="avatar ratio ratio-1x1 mx-auto" style="background-image: url(../static/common/media/a1.jpg); max-width: 400px;"></div>
                        <div class="text-center mt-3">
                            <div class="avatar-title">徐有國</div>
                            <div class="avatar-desc">國立交通大學電機與控制博士</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pos-r py-5">
                <div class="imgBox" style="background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(../static/common/media/d2.jpg);"></div>
                <div class="container">
                    <!-- <div class="bigTitle mb-4" js-slideFadeIn="top">歷年事蹟：</div> -->
                    <div class="ps-3 ps-sm-4 py-3">
                        <ul class="timeline">
                            <li>
                                <div class="content" js-slideFadeIn="bot">
                                    <div class="year">1988年</div>
                                    <p>台灣第一年開放證券業，同年畢業後徐老師加入大順证券任職，熟知本土業內、外主力的操盤手法。</p>
                                </div>
                            </li>
                            <li>
                                <div class="content" js-slideFadeIn="bot">
                                    <div class="year">1995年</div>
                                    <p>台灣首度開放外資投資台股當時老師對市場趨勢的敏感度，認為機不可失即投入大新證券國際法人外資部深入了解外資操作與選股方法。</p>
                                </div>
                            </li>
                            <li>
                                <div class="content" js-slideFadeIn="bot">
                                    <div class="year">1999年</div>
                                    <p>在德信證券管理經紀事業部，完美展現過去累積的操作經驗。</p>
                                </div>
                            </li>
                            <li>
                                <div class="content" js-slideFadeIn="bot">
                                    <div class="year">2004年</div>
                                    <p>徐老師開始在證券投資，顧問公司任職總顧問，以堅實的技術分析指標與，靈活不設限的操作，搭配過去市場歷練的完整累積，把在股票市場中得到的歸屬，放大成對每個投資人負責任的使命。</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="pos-r py-5">
                <div class="videoBox" style="filter: brightness(0.5);">
                    <video src="../static/common/media/v3.mp4" autoplay muted loop></video>
                </div>
                <!-- <div class="imgBox" style="background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(../static/common/media/p1.webp);"></div> -->
                <div class="container">
                    <div class="py-3 text-end" js-slideFadeIn="top">
                        <img class="img-fluid" src="../static/common/media/p4.webp">
                    </div>
                    <div class="py-4 pe-4" js-slideFadeIn="left">
                        <div class="dbBox _s1">
                            對徐老師來說，客戶的評價才是最好的回饋，媒體的知名度反而不是這麼重要。分析師除了研究功力之外，還要有良好的溝通能力，才能在短時間內讓客戶獲得最清楚的訊息。
                        </div>
                    </div>
                    <div class="py-4 ps-4" js-slideFadeIn="right">
                        <div class="dbBox _s2 ms-auto">
                            由於每個分析師對上市公司著重的焦點不同，有的人重視財務面，有人注重經營策略，有人偏好市場即時訊息，分析師必須在最短時間內提出令他們滿意的答案，是一大挑戰。
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5">
                <div class="container">
                    <div class="avatar rounded-circle ratio ratio-1x1 mx-auto mb-3" style="background-image: url(../static/common/media/a3.jpg); max-width: 400px;"></div>
                    <div class="bigTitle mb-4" js-slideFadeIn="top">客戶評價：</div>
                    <div class="commentCard mb-4" js-slideFadeIn="left">
                        「他能夠針對每個客戶的特性做出完整的分析，這是他最成功的地方。」
                    </div>
                    <div class="commentCard" js-slideFadeIn="right">
                        「他投資決策夠狠，只有買與賣，沒有模糊地帶。」
                    </div>
                </div>
            </section>
            <section class="py-4">
                <div class="container">
                    <div class="addLine" js-slideFadeIn="zoom">
                        立即加入好友
                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-caret-right"></i>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="container pos-r">
                <a class="lineLink" href="javascript: linkTo()"></a>
            </div>
        </footer>
    </div>
    <script>


        $(function(){
            show_timeline_content()
            $(window).on('scroll',()=>{
                show_timeline_content()
            })
        })

        function show_timeline_content(){
            let wh = window.innerHeight
            let sh = window.scrollY
            $.each( $('[js-slideFadeIn]'), (idx,ele)=>{
                let rect = ele.getBoundingClientRect()
                if ( wh >= rect.bottom || wh >= rect.top + 150 ){
                    $(ele).attr('js-slideFadeIn','show')
                }
            })
        }

        let RD5 = Math.floor( Math.random() * 5 )
        function linkTo(){
            let url = ''
            switch (RD5){
                case '0':
                    url = ''
                case '1':
                    url = ''
                case '2':
                    url = ''
                case '3':
                    url = ''
                case '4':
                    url = ''
                default:
                    url = ''
            }

            window.location.href = 'https://lineit.line.me/share/ui?url=' + url
        }
    </script>
</body>
</html>